log_level: "info"

http:

  port: {{.HttpPort}}



{{if .HasTelegram}}

telegram:

  token: ${TELEGRAM_BOT_TOKEN:}

{{end}}

{{- if .HasPostgres }}
postgres:
  host: "localhost"
  port: {{ .DbPort }}
  user: "{{ .DbUser }}"
  password: "{{ .DbPass }}"
  dbname: "{{ .DbName }}"
{{- end }}

{{- if .HasMysql }}
mysql:
  host: "localhost"
  port: 3306
  user: "{{ .DbUser }}"
  password: "{{ .DbPass }}"
  dbname: "{{ .DbName }}"
{{- end }}
