{{- /* templates/internal/application/config.go.tmpl */ -}}
package application

import (
	"github.com/caarlos0/env/v10"
{{- if .HasYAML }}
	"os"
	"gopkg.in/yaml.v3"
{{- end }}
)

type Config struct {
	LogLevel string `env:"LOG_LEVEL" envDefault:"info"`
	HTTP     HTTP     `yaml:"http"`
	Telegram Telegram `yaml:"telegram"`
	{{if .HasDB}}
	Database Database `yaml:"database"`
	{{end}}
{{- if .HasPostgres }}
	Postgres struct {
		Host     string `env:"PG_HOST" envDefault:"localhost"`
		Port     int    `env:"PG_PORT" envDefault:"5432"`
		User     string `env:"PG_USER" envDefault:"user"`
		Password string `env:"PG_PASSWORD" envDefault:"password"`
		Name     string `env:"PG_DBNAME" envDefault:"mydatabase"`
	} `envPrefix:"PG_"`
{{- end }}
{{- if .HasMysql }}
	MySQL struct {
		Host     string `env:"MYSQL_HOST" envDefault:"localhost"`
		Port     int    `env:"MYSQL_PORT" envDefault:"3306"`
		User     string `env:"MYSQL_USER" envDefault:"user"`
		Password string `env:"MYSQL_PASSWORD" envDefault:"password"`
		Name     string `env:"MYSQL_DBNAME" envDefault:"mydatabase"`
	} `envPrefix:"MYSQL_"`
{{- end }}
}

	type HTTP struct {
		Port int `yaml:"port" env:"HTTP_PORT"`
	}

	type Telegram struct {
		Token string `yaml:"token" env:"TELEGRAM_BOT_TOKEN"`
	}

	{{if .HasDB}}
	// Database represents database connection settings.
	type Database struct {


func LoadConfig() (*Config, error) {
	cfg := &Config{}

{{- if .HasYAML }}
	// Load from YAML file
	f, err := os.Open("config.yaml")
	if err == nil {
		defer f.Close()
		if err := yaml.NewDecoder(f).Decode(cfg); err != nil {
			return nil, err
		}
	}
{{- end }}

	// Parse environment variables
	if err := env.Parse(cfg); err != nil {
		return nil, err
	}

	return cfg, nil
}
